.repo
external
tools/testing/output
projects/*
!projects/arm
!projects/bare_metal
!projects/freertos
!projects/gcc
!projects/keil
!projects/linux
build*
!build*.h
!build*.c
.vscode
*~
*.bin
*.pyc
tools/manifest_visualizer/manifest_visualizor
user_all_tests.h
