.repo
external
tools/testing/output
projects/*
!projects/bare_metal
!projects/freertos
!projects/gcc
!projects/keil
!projects/linux
build
.vscode
*~
*.bin
*.pyc
tools/manifest_visualizer/manifest_visualizor
